<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Notes</h1>
      <nav>
        <a href="/">Home</a><br>
        <a href="/notes/new">New Note</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
