<form action="/notes" method="post">
  <p><input name="title" placeholder="Title" type="text"></p>
  <p><textarea name="content" placeholder="Your note here..."></textarea></p>
  <p><button type="submit">Save</button></p>
</form>
